.red {
    background: red;
}
.yellow {
    background: yellow;
}
.green {
    background: green;
}

.light {
    display: flex;
    height: 100px;
    width: 100px;
    border: #ccc 1px solid;
}

.wrap {
    display: flex;
    align-items: flex-end;
    margin-bottom: 2rem;
}

.disabled {
    background: grey;
}

@keyframes flashing{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}


.flashing {
    animation: flashing 0.5s linear 0.5s infinite;
}
